body {
    background-color: #f8f8f8;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 80px;
  }
  
  .poster {
    background-color: #fff;
    border-radius: 12px;
    padding: 40px;
    width: 500px;
    margin: 0 auto;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  }
  
  .poster h1 {
    color: #ff6600;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
    font-weight: 600;
  }
  
  .poster p {
    color: #555;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    border: rgb(171, 80, 80) 1px;
    border-radius: 45%;
    background-color: rgb(89, 79, 79, 0.23);
  }