h1 {
    background-color: rgb(36, 72, 36);
    color: rgba(215, 203, 34, 0.5);
    width: 100%;
    max-width: 2000px;
    text-align: center;
    height: 100vw;
    max-height: 200px;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 600;
    font-family: roboto, sans-serif;
}

.red {
    font-size: 16px;
    font-family: roboto, sans-serif;
    color: #8f4b4b;
}

.blue  {
  color: cadetblue !important;
  font-size: 16px;
    font-family: roboto, sans-serif;
}
#Title {
    font-size: 20px;
    font-family: roboto, sans-serif;
    color: #4b6f8f;
}
section {
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.box {
    width: 200px;
    height: 100px;
    border: 1px solid rgb(155, 22, 22);
    background-color: bisque;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    box-sizing: border-box;
}
@media (max-width: 576px) {
    .box {
        font-size: 14px;
        width: 100%;
        height: auto;
    }

}
@media (max-width:768px) {
    .box {
        font-size: 12px;
        width: 100%;
        height: auto;
    }
}
@media (max-width:992px) {
    .box {
        font-size: 16px;
        width: 100%;
        height: auto;
    }
}
@media (max-width:1200px) {
    .box {
        font-size: 18px;
        width: 100%;
        height: auto;
    }
}

.footer {
    text-align: right;
    font-size: 18px;
    color: rgb(130, 32, 58);
    font-family: roboto, sans-serif;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: auto;
    left: 0;
    bottom: 0;
    right: 0;
}
div.box2::before {
    content: "Frontend Simplified ";
}
div {
    animation: float 200ms 4 alternate-reverse;
    transition: background-color 0.3s ease;
}
div.box2:hover {
    
    background-color: lightblue;
    cursor: pointer;
}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
    
}