
/* transform: translateX(50px);   /* moves right 50px */
/*transform: translateX(-50px);  /* moves left 50px */
/*transform: translateY(50px);   /* moves down 50px */
/*transform: translateY(-50px);  /* moves up 50px  */