.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .box {
    background-color: #4337de;
    color: white;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
  }
  