


#body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f3f3;
    text-align: center;
    padding: 50px;
}

#card {
    background-color: white;
    width: 280px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba (0,0,0,0.1);
}

#card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
    box-shadow: #f3f3f3;
}

#card h2 {
    color: #f3f3f3;
    margin-bottom: 5px;
}

#card p {
    color: #555;
    font-size: 15px;
    margin: 8px 0;
}

#button {
    shape-margin: 15%;
    color: aqua;
    text-align: center;
    font-size: medium;
    font-weight: 400;
    font-style: italic;
}
