.body {
    background-color: #f5f5f5;
    text-align: center;
    font-family: arial, sans-serif;
    padding: 40px;
}

.h1 {
    color: #ff6600; /* hex */
}

.p {
    color: rgb(0, 128, 255); /* rgb */
    background-color: yellow; /* named color */
}

