#welcome {
    color: rgb(60, 246, 184);
    text-align: center;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    background-color: chocolate;
    border-radius: 50%;
    border: 2px;
    border-color: ivory;
    box-sizing: border-box;
}


#intro {
    font-size: medium;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: blue;
    border: 2px ;
    border-radius: 50%;
    border-color: aliceblue;
    box-sizing: border-box;



}


#mainBody {
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: burlywood;
    border: 3px;
    border-radius: 45%;
    border-color: aqua;
    box-sizing: border-box;

}

.button {
    color: cadetblue;
    text-align: center;
    font-size: medium;
    background-color: brown;
    border: 1px;
    border-radius: 35%;
    border-color: black;
    box-sizing: border-box;

}

.ul {
    font-size: larger;
    text-align: center;
    background-color: chartreuse;
    border: 6px;
    border-radius: 40%;
    border-color: black;
    box-sizing: border-box;
}

.li {
    display: inline-block;
    margin: 10px;
    padding: 10px, 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    box-sizing: border-box;
}