.box {
    position: relative;
    top: 20px;
    left: 30px;
  }
  .parent {
    position: relative;
  }
  
  .child {
    position: absolute;
    top: 0;
    right: 0;
  }
  .card {
    position: relative;
    display: inline-block;
  }
  
  .badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: crimson;
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 14px;
  }