#welcome {
    color: rgb(60, 246, 184);
    text-align: center;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    background-color: chocolate;
    border-radius: 50%;
    border: 2px;
    border-color: ivory;
}


#intro {
    font-size: medium;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: blue;
    border: 2px ;
    border-radius: 50%;
    border-color: aliceblue;


}


#mainBody {
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: burlywood;
    border: 3px;
    border-radius: 45%;
    border-color: aqua;

}

.button {
    color: cadetblue;
    text-align: center;
    font-size: medium;
    background-color: brown;
    border: 1px;
    border-radius: 35%;
    border-color: black;

}

.ul {
    font-size: larger;
    text-align: center;
    background-color: chartreuse;
    border: 6px;
    border-radius: 40%;
    border-color: black;
}

